version: '2'
services:
  # resources
  db:
    build:
      context: ./db
    ports:
    - 5432:5432

  # base images
  base:
    build:
      context: .
  test-base:
    extends:
      service: base
    command: ./bin/run-tests

  # test services
  test:
    extends:
      service: test-base
    links:
    - db:Db
    environment:
    - DATABASE_HOST=Db
  test-dev:
    extends:
      service: test-base
    environment:
    - DATABASE_HOST=Db
    links:
    - db:Db
    volumes:
    - ./app:/srv/app

  # prod services
  web:
    extends:
      service: base
    environment:
    - DATABASE_HOST=Db
    links:
    - db:Db
    ports:
    - 8080:80
  web-dev:
    extends:
      service: base
    environment:
    - DATABASE_HOST=Db
    links:
    - db:Db
    ports:
    - 8080:80
    volumes:
    - ./app:/srv/app
